%header#header{class: ("alt" if current_page.path == "index.html")}
  %h1#logo
    %a{:href => "index.html"}
      Community Health Indicators
      %span
  %nav#nav
    %ul
      %li.current
        %a{:href => "about.html"} About
      %li.submenu
        %a{:href => "#"} Select Your City
        %ul
          %li
            %a{:href => "barre.html"} Barre
          %li
            %a{:href => "blackstone.html"} Blackstone
          %li
            %a{:href => "charlton.html"} Charlton
          / %li.submenu
          /   %a{:href => "#"} Submenu
          /   %ul
          /     %li
          /       %a{:href => "#"} Dolore Sed
          /     %li
          /       %a{:href => "#"} Consequat
          /     %li
          /       %a{:href => "#"} Lorem Magna
          /     %li
          /       %a{:href => "#"} Sed Magna
          /     %li
          /       %a{:href => "#"} Ipsum Nisl
      / %li
      /   %a.button.special{:href => "#"} Sign Up
