---
title: Chartlon
---


%article#main
  %header
    %h2
      %strong Charlton, MA
    %p 
      The Town of Charlton is located in south central Massachusetts, bordered by Spencer on the north, Leicester on the northeast, Oxford on the east, Dudley and Southbridge on the south, Sturbridge on the west, and East Brookfield on the northwest. Charlton is 17 miles southwest of Worcester and 40 miles southwest of Boston. A rural community of 13,312 residents, Charlton’s population grew by 15.3% percent between 2000 and 2010.  The Town’s total area is 43.95 square miles with land making up 42.71 square miles, and a density of 295 people per square mile.
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "800", :mozallowfullscreen => "", :msallowfullscreen => "", :oallowfullscreen => "", :src => "https://mapc-maps.carto.com/viz/d751544c-813c-4140-b8cf-c1e874c1d614/embed_map", :webkitallowfullscreen => "", :width => "100%"}

  / One
  %section.wrapper.style4.container
    / Content
    .content
      %section
        %a.image.featured{:href => "#"}
          %img{:alt => "", :src => "images/pic04.jpg"}/
        %header
          %h3 Dolore Amet Consequat
        %p Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum massa. Morbi eu faucibus massa. Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.
        %p Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique. Sed id sem et massa ornare pellentesque. Maecenas pharetra porta accumsan.
        %p In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus, non hendrerit ipsum arcu tristique est.
  / Two
  %section.wrapper.style1.container.special
    .row
      .4u{:class => "12u(narrower)"}
        %section
          %header
            %h3 This is Something
          %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
          %footer
            %ul.buttons
              %li
                %a.button.small{:href => "#"} Learn More
      / .4u{:class => "12u(narrower)"}
      /   %section
      /     %header
      /       %h3 Also Something
      /     %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
      /     %footer
      /       %ul.buttons
      /         %li
      /           %a.button.small{:href => "#"} Learn More
      / .4u{:class => "12u(narrower)"}
      /   %section
      /     %header
      /       %h3 Probably Something
      /     %p Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.
      /     %footer
      /       %ul.buttons
      /         %li
      /           %a.button.small{:href => "#"} Learn More
