---
title: Central Mass Regional Planning Commission
---

/ Banner
%section#banner
  .inner{style: 'background-color:transparent;'}
    %header.special.container
    %h2
      Promoting Mass in Motion Strategies across Central Massachusetts through 
      the Integration of Indicators into Municipal Planning
    %footer
    
  / One
  %section.wrapper.style1.container.special
    .row
      .4u{:class => "12u(narrower)"}
        %a{href:'barre.html', style: 'cursor: pointer;'}
          %section
            %span.icon.featured.fa-bar-chart
            %header
              %h3 Barre, MA
            %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Barre
      .4u{:class => "12u(narrower)"}
        %a{href:'blackstone.html', style: 'cursor: pointer;'}
          %section
            %span.icon.featured.fa-bar-chart
            %header
              %h3 Blackstone, MA
            %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Blackstone.
      .4u{:class => "12u(narrower)"}
        %a{href:'charlton.html', style: 'cursor: pointer;'}
          %section
            %span.icon.featured.fa-bar-chart
            %header
              %h3 Charlton, MA
            %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Charlton.
    / Two
  %section.wrapper.style2.container.special-alt
    .row{:class => "50%"}
      .16u{:class => "12u(narrower)"}
        %header
          %h2
            Identifying indicators of active living, healthy eating, and safe physical environments
        %p CMRPC engaged with three municipalities within the Central Massachusetts region to identify indicators of active living, healthy eating, and safe physical environments. The three partnering municipalities were Barre, Blackstone, and Charlton. For the purposes of this project, indicators are defined as measurable data points that “monitor progress on economic and social goals.” Indicators allow policymakers and the general public to not only better understand the community they live in, but to also track the progress of that community on a variety of levels and sectors.
        %footer
          %ul.buttons
            %li
              %a.button{:href => "about.html"} About
