---
title: Central Mass Regional Planning Commission
---

/ Banner
%section#banner{style: 'height:70px; width 1280px;'}
  .inner{style: 'background-color:transparent;'}

    / Main
%article#main 
  %header.special.container{style: 'padding-top: 0em;'}
    / %img(src="/images/CM Indicators Project Logo.png"){style:'height:400px; width 400px;'}
    = image_tag "/images/CMIndicatorsProjectLogo.png", { style:'height:400px; width 400px;' }
    %h2
      Promoting Mass in Motion Strategies across Central Massachusetts through 
      the Integration of Indicators into Municipal Planning
      %br/
  / One
  %section.wrapper.style1.container.special
    .row
      .4u{:class => "12u(narrower)"}
        %a{href:'barre.html', style: 'cursor: pointer;'}
          %section
            %span.icon.featured.fa-bar-chart
            %header
              %h3 Barre, MA
            %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Barre
      .4u{:class => "12u(narrower)"}
        %a{href:'blackstone.html', style: 'cursor: pointer;'}
          %section
            %span.icon.featured.fa-bar-chart
            %header
              %h3 Blackstone, MA
            %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Blackstone.
      .4u{:class => "12u(narrower)"}
        %a{href:'charlton.html', style: 'cursor: pointer;'}
          %section
            %span.icon.featured.fa-bar-chart
            %header
              %h3 Charlton, MA
            %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Charlton.
    / Two
  %section.wrapper.style2.container.special-alt
    .row{:class => "50%"}
      .16u{:class => "12u(narrower)"}
        %header
          %h2
            Identifying indicators of active living, healthy eating, and safe physical environments
        %p CMRPC engaged with three municipalities within the Central Massachusetts region to identify indicators of active living, healthy eating, and safe physical environments. The three partnering municipalities were Barre, Blackstone, and Charlton. For the purposes of this project, indicators are defined as measurable data points that “monitor progress on economic and social goals.” Indicators allow policymakers and the general public to not only better understand the community they live in, but to also track the progress of that community on a variety of levels and sectors.
        %footer
          %ul.buttons
            %li
              %a.button{:href => "about.html"} About
              %p
              %img(src="images/CM Indicators Project Logo.png"){style:'height:100px; width 200px; padding: 4px;'}
              %img(src="images/HeywoodHospital-partner logo.png"){style:'height:50px; width 90px; padding: 4px;'}
              %img(src="images/Pernet Health-partner logo_v2.png"){style:'height:60px; width 80px; padding: 4px;'}
              %img(src="images/MassInMotion-partner logo.png"){style:'height:100px; width 125px; padding: 4px;'}
              %img(src="images/PVPC-tech partner logo.png"){style:'height:70px; width 100px; padding: 4px;'}
              %img(src="images/MOC-partner logo_v2.png"){style:'height:90px; width 125px; padding: 4px;'}
             
              


