---
title: Central Mass Regional Planning Commission
---

/ Banner
%section#banner
  .inner
    %header
      %h1
    %p
      CMRPC Community
      = succeed "" do
        %strong Health
      %br/
      Indicators
      %br/
    %footer
     
/ Main
%article#main 
  %header.special.container
    %span.icon.fa-bar-chart-o
    %h2
      Mapping Community Health Across Central Masschusetts
      %br/
    /
      Turns out
      %strong Twenty
      was the best I could come up with. Anyway, lame name aside,
      %br/
      %strong> skel
      ,
      and, like all my stuff,
      %br/
      released for free under the
      %a{:href => "http://html5up.net/license"} Creative Commons Attribution 3.0
      license. Have fun!
  / One
  %section.wrapper.style2.container.special-alt
    .row{:class => "50%"}
      .8u{:class => "12u(narrower)"}
        %header
          %h2
            Identifying indicators of active living, healthy eating, and safe physical environments
        %p CMRPC engaged with three municipalities within the Central Massachusetts region to identify indicators of active living, healthy eating, and safe physical environments. The three partnering municipalities were Barre, Blackstone, and Charlton. The participating towns assisted with determining health indicators and providing data to the project team. For the purposes of this project, indicators are defined as measurable data points that “monitor progress on economic and social goals. They describe observed societal problems or assets and help represent a normative stance on related issues." The goal of the project is to help our communities integrate health into their municipal planning processes through the use of indicators. Indicators allow policymakers and the general public to not only better understand the community they live in, but to also track the progress of that community on a variety of levels and sectors. The data collected and reported provides in-depth snapshots that allow municipalities to track longitudinal trends, set community goals, and prioritize action.
        %footer
          %ul.buttons
            %li
              %a.button{:href => "#"} Methodology
      .4u{:class => "12u(narrower) important(narrower)"}
        %ul.featured-icons
          %li
            %span.icon.fa-clock-o
              %span.label Feature 1
          %li
            %span.icon.fa-volume-up
              %span.label Feature 2
          %li
            %span.icon.fa-laptop
              %span.label Feature 3
          %li
            %span.icon.fa-inbox
              %span.label Feature 4
          %li
            %span.icon.fa-lock
              %span.label Feature 5
          %li
            %span.icon.fa-cog
              %span.label Feature 6
  / Two
  %section.wrapper.style1.container.special
    .row
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3 Barre, MA
          %p Read the full report on Barre.
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3 Blackstone, MA
          %p Read the full report on Blackstone.
      .4u{:class => "12u(narrower)"}
        %section
          %span.icon.featured.fa-check
          %header
            %h3 Charlton, MA
          %p Read the full report on Chartlon.
  / Three
  %section.wrapper.style3.container.special
    %header.major
      %h2
        Explore the Map
    .row
      .6u{:class => "12u(narrower)"}
        %section
          %a.image.featured{:href => "#"}
            %img{:alt => "", :src => "images/pic01.jpg"}/
          %header
            %h3 Blackstone
          %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Blackstone.
      .6u{:class => "12u(narrower)"}
        %section
          %a.image.featured{:href => "#"}
            %img{:alt => "", :src => "images/pic02.jpg"}/
          %header
            %h3 Charlton
          %p View farmer's markets, environmental justice data, fitness centers and parks information on an online map of Charlton.
    .row
      .6u{:class => "12u(narrower)"}
        %section
          %a.image.featured{:href => "#"}
            %img{:alt => "", :src => "images/pic03.jpg"}/
          %header
            %h3 Barre
          %p Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.
      .6u{:class => "12u(narrower)"}
    %footer.major
      %ul.buttons
        %li
          %a.button{:href => "#"} See More
